<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <div id="app">
    <form @submit.prevent="getToken" v-if="!isAuthenticated">
      <input type="text" v-model="login.username" placeholder="Username">
      <input type="password" v-model="login.password" placeholder="Password">
      <button> > </button>
    </form>
    <nav v-else>
      <button @click="authLogout">Logout</button>
    </nav>
    <ul>
      <li v-for="post in posts">
        <div>
          <b>{{ post.user_name }}</b> {{ post.title }}
        </div>
        <ul>
          <li v-for="comment in post.comments">
            <b>{{ comment.user_name }}</b> {{ comment.content }} <button @click="deleteComment(post, comment)"> x </button>
          </li>
        </ul>
        <div v-if="isAuthenticated">
          <input type="text" v-model="post.newComment" @keyup.enter="addComment(post)">
          <button @click="addComment(post)"> + </button>
        </div>
      </li>
    </ul>
  </div>
  
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        serverUrl: 'https://django-api-server-example.herokuapp.com',
        authToken: '',
        login: {
          username: '',
          password: '',
        },
        loading: true,
        posts: [],
      },
      methods: {
        getPosts: function(){
          axios.get(`${this.serverUrl}/api/v1/posts/`)
                .then((response)=>{
                  return response.data
                })
                .then((posts)=>{
                  this.posts = posts.map((post)=>{
                    return { ...post, newComment:'' }
                  })
                  this.loading = false
                })
                .catch((error)=>{
                  console.log(error)
                })
        },
        addComment: function(post){
          axios.post(`${this.serverUrl}/api/v1/posts/${post.id}/comments/`, {content: post.newComment}, {
                    headers: {
                      'Authorization': `Bearer ${this.authToken}`
                    }, 
                    // withCredentials: true,
                  })
                  .then((response)=>{
                    return response.data
                  })
                  .then((comment)=>{
                    post.comments.push(comment)
                    post.newComment = ''
                  })
                  .catch((error)=>{
                    console.log(error.response)
                  })
        },
        deleteComment: function(post, comment){
          axios.delete(`${this.serverUrl}/api/v1/posts/${post.id}/comments/${comment.id}/`, {
                    headers: {
                      'Authorization': `Bearer ${this.authToken}`
                    },
                    // withCredentials: true, // Header or Cookie, 둘 중 하나의 방법을 사용.
                  })
                  .then((response)=>{
                    post.comments = post.comments.filter((c)=>{
                      return c.id !== comment.id
                    })
                  })
                  .catch((error)=>{
                    console.log(error.response)
                  })
        },
        getToken: function(){
          axios.post(`${this.serverUrl}/api/v1/token-auth/`, {username: this.login.username, password: this.login.password})
                  .then((response)=>{
                    return response.data.token
                  })
                  .then((authToken)=>{
                    this.authToken = authToken
                  })
                  .catch((error)=>{
                    console.log(error.response.data)
                  })
                  .then(()=>{
                    this.login.username = ''
                    this.login.password = ''
                  })
        },
        authLogout: function(){
          this.authToken = ''
        },
        verifyToken: function(){
          axios.post(`${this.serverUrl}/api/v1/token-verify/`, {token: this.authToken})
                  .then((response)=>{
                    return response.data.token
                  })
                  .then((authToken)=>{
                    this.authToken = authToken
                  })
                  .catch((error)=>{
                    this.authToken = ''
                  })
        },
      },
      mounted: function(){
        this.authToken = localStorage.getItem('auth_token') || ''
        if (this.authToken) {
          this.verifyToken()
        }
        this.getPosts()
      },
      watch: {
        authToken: function(authToken){
          if (authToken) {
            localStorage.setItem('auth_token', authToken)
          } else {
            localStorage.removeItem('auth_token')
          }
        }
      },
      computed: {
        isAuthenticated: function(){
          return this.authToken ? true : false
        }
      },
    })
  </script>
</body>
</html>
